<!DOCTYPE html>

<!-- Welcome to the TypeScript/AngularJS primer -->
<html ng-app="chrisApp">

    <!-- the head specifies all meta information -->
    <head>

        <!-- the document's title is set dynamically -->
        <title>TypeScript/AngularJS primer, v.0.1</title>

        <!-- specify the charset -->
        <meta charset="utf8">

        <!-- set the favicon icon -->
        <link rel="icon"          href="favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <!-- use this external stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <!-- use bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap_3.0.3.min.css">

        <!-- suppress viewport scalation for touch-devices -->
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1" />

        <!-- use angular-js lib -->
        <script type="text/javascript" src="lib/angular_1.4.0.js"></script>

        <!-- include all js-sources -->
        <script type="text/javascript" src="src/de/mayflower/angular/app.js"></script>

    </head>

    <!-- the body will be appended with the HTML5 canvas3D -->
    <body class="ngTest">

        <!-- example 1 - expressions -->
        <p></p>
        <input type="text" ng-model="search">
        <p>Search is: [{{search}}]</p>

        <!-- example 2 - expressions -->
        <p>Search in UpperCase is: [{{search.toUpperCase()}}]</p>
        <p>Search length is: [{{search.length}}]</p>
        <p>Dynamic example is: [{{1 + 2 + 3}}]</p>

        <!-- example 3 - condition-directives - only shows if 'search' has a value -->
        <p ng-show="search">You have been looking for: {{search}}</p>
        <p></p>

        <!-- example 4 - loop-directives - shows up repeated times -->
        <table border="1px" align="center">
            <tr ng-repeat="article in ['Pizza Margherita', 'Pizza Tonno', 'Pizza Diavolo']">
                <td>{{article}}</td>
            </tr>
        </table>
        <p></p>

        <!-- example 5 - specifying variables using ng-init -->
        <table border="1px" align="center" ng-init="articles = ['Pasta Farfalle', 'Pasta Penne', 'Pasta Rigatoni']">
            <tr ng-repeat="article in articles">
                <td>{{article}}</td>
            </tr>
        </table>
        <p></p>

        <!-- example 6 - filtering loops -->
        <p>Article Search filter:</p>
        <input type="text" ng-model="articleSearch">
        <p></p>
        <table border="1px" align="center" ng-init="products = ['Article Rubber Duck', 'Article Bottle Neck', 'Article Wool Pullover']">
            <tr ng-repeat="product in products | filter:articleSearch">
                <td>{{product}}</td>
            </tr>
        </table>
        <p></p>

        <!-- example 7 - controllers -->
        <table border="1px" align="center" ng-controller="ArticlesCtrl">
            <tr ng-repeat="article in articles | filter:articleSearch">
                <td>{{article.id}}</td>
                <td>{{article.name}}</td>
                <td>{{article.price}}</td>
            </tr>
        </table>











    </body>

</html>
